<span id="title">Akademia Angular</span>
<span id="appName">phrase search engine</span>

<div id="searchContainer">
  <div class="searchBarContainer">
    <input #searchBar type="text" name="searchBar" id="searchBar" placeholder="Enter the phrase..." (input)="search(searchBar.value)"/>
    <button title="Search in Google" class="searchButton" (click)="searchInGoogle(searchBar.value)"><img src="../assets/search.png"></button>
  </div>
  
  <ul class="search-result" >
    <li *ngFor="let phrase of phrases$ | async" (click)="searchBar.value = phrase.phrase">
      {{phrase.phrase}}
    </li>
  </ul>
</div>
